@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}
body{
    overflow: hidden;
}
.container{
    width: 100%;
    min-height: 100vh ;
    background-color: white;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
    background-color: white;
    margin-top: 44px;
}

.Titulo{
  padding-left: 300px;
  padding-right: 196px;
}

.parrafo{
  margin-top: 93px;
  display: flex;
  justify-content: center;
}

.coming{
  width: 455px;
  height: 373px;
  display: flex;
  align-items: center;
  border-radius: 41px;
  text-align: center;
  
  
  background: rgba(93,249,188,0.66 )
}

.best{
  width: 285px;
  height: 66px;
  border-radius: 33px;
  background: rgba(255,255,255,0.79 );
  margin-top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.you {
  width: 220px;
  height: 31px;
  font-family: "open sans";
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  font-style: normal;
  text-align: left;
  color: #4a4a83;
}

.encontrar{
  display: flex;
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  font-style: normal;
  text-align: left;
  margin-top: 16px;
  justify-content: end;
  margin-right: 147px;
}

button{
  border: none;
  outline:none;
  background-color: transparent;
}

button#apple{
  width: 303px;
  height: 102px;
  border-radius: 2px;
  margin-right: 17.5px;
  cursor: pointer; 
}

button#playstore{
  width: 346px;
  height: 102px;
  border-radius: 2px;
  margin-left: 17.5px;
  cursor: pointer;
}

.botoncito{
  margin: 0%;
}
.botoncito button {
  width: 169px;
  height: 55px;
  outline: none;
  border-radius: 21px;
  cursor:pointer;
  font-size: 25px;
  font-weight: bold;
  line-height: 25px;
  color: white;
  background: linear-gradient(113deg, 
  #7affc1 0.00%, 
  #0df287 100.00%);
  border: transparent;
  padding: 8px 14px;
  filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.16 ));
}

.botonext{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.botonext button{
  width: 169px;
  height: 55px;
  outline: none;
  border-radius: 21px;
  cursor:pointer;
  font-size: 25px;
  font-weight: bold;
  line-height: 25px;
  color: white;
  background: linear-gradient(113deg, 
  #7affc1 0.00%, 
  #0df287 100.00%);
  border: transparent;
  padding: 8px 14px;
  filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.16 ));
}

h1{
  font-size: 50px;
  width: 145px;
  height: 48px;
}

.logo{
    cursor: pointer;
    width: 59px;
    height: 59px;
    margin-top: -6;
}

.contenido{
  display: flex;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.contenido::before{
  position: absolute;
  content: '';
  height: 1760px;
  width: 1760px;
  left: 509px;
  top: 117px;
  border-radius: 50%;
  background: rgba(31,201,234,0.1 );
  background: linear-gradient(180deg, rgba(31,201,234,0.1 ) 0.00%, rgba(0,255,162,0.1 ) 100.00%);
  animation: object1 6s linear infinite;
}

.contenido:after{
  position: absolute;
  content: '';
  width: 1091px;
  height: 1091px;
  left: -154px;
  top: 117px;
  border-radius: 50%;
  background: rgba(119,254,110,0.32 );
  background: linear-gradient(162deg, rgba(119,254,110,0.32 ) 0.00%, rgba(53,239,202,0.24 ) 100.00%);
  animation: object2 6s linear infinite;
}

.esfera{
  position: absolute;
  content: '';
  width: 244px;
  height: 244px;
  left: 746px;
  top: 216px;
  border-radius: 50%;
  background: #e0f04b;
  background: linear-gradient(180deg, 
  #e0f04b 0.00%, 
  #3ef5b2 100.00%);
  animation: object2 6s linear infinite;
}

.esfera::before{
  position: absolute;
  content: '';
  width: 419px;
  height: 419px;
  left: -832px;
  top: 508px;
  border-radius: 50%;
  background: #1fc9ea;
  background: linear-gradient(180deg, 
  #1fc9ea 0.00%, 
  #00ffa2 100.00%);
  animation: object2 6s linear infinite;
  z-index: -1;
}


.cols{
  width: 50%;
  z-index: 5;
}

.cols0{
  margin-left: -85px;
  margin-top: -410px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topline{
  display: block;
  position: relative;
  font-size: 35px;
  letter-spacing: 5px;
  color: rgb(0, 0, 0);
}

.topline::after{
  position:absolute;
  content: '';
  height: 4px;
  width: 45px;
  bottom: 10px;
  background-color: aquamarine ;
}

h2{
  width: 727px;
  height: 135px;
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  font-style: normal;
  text-align: left;
}

.multiText{
width: 605px;
height: 135px;
font-size: 60px;
font-weight: bold;
line-height: 60px;
font-style: normal;
text-align: left;
background-color: #47F3B0;
}

.slogan{
  width: 368px;
  height: 124px;
  font-size: 35px;
  font-weight: bold;
  line-height: 35px;
  font-style: normal;
  text-align: left;
  color: #00000f;
}

p{
  width: 638px;
  height: 154px;
  
  
  font-family: "open sans";
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  font-style: normal;
  text-align: left;
  color: #4a4a83;
}

.btns{
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 60px;
}

.imgbox{
  margin-top: 147px;
  margin-left: 267px;
  margin-right: 200px;
  position: relative;
  height: 1260px;
  width: 710px;
  top: -100px;
  right: 50px;
  animation: 4s linear 0s infinite normal none running animateUser;
}

@keyframes animateUser{
    50%{
      right: 30px;
      top: -90px;
    }
  }

.imgbox #splash{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-35deg);
  width: 160%;
  filter: saturate(200%);
  animation: animate 4s linear infinite;
}

@keyframes animate{
  50%{
    right: 49%;
    top: 51%;
    width: 155%;
  }
}

/* RESPONSIVE */
@media(max-width:768px){
  .contenido{
    overflow: auto;
  }
  nav{
    height: 50px;
    width: auto;
    margin-top: 16px;
  }

  .logo{
    margin-left: 230px;
  }

  h1{
    font-size: 25px;
  }

  .imgbox img{
    width: 250px;
    height: 250px;
  }
}

@media screen and (min-width: 1024px) and 
(max-width:1280px) {
  h1{
    font-size: 25px;
  }

  .logo img{
    height: 40px;
    width: 40px;
  }

  .botoncito button{
    font-size: 12px;
    height: 40px;
    width: 100px;
  }

  nav{
    margin-top: 15px;
  }

  .contenido::before{
    height: 677px;
    width: 677px;
    top: 75px;
    left: 348px;

    }

  .contenido::after{
    height: 575px;
    width: 575px;
    left: -95px;
    top: 75px;
  }
  .esfera{
    width: 122px;
    height: 122px;
    left: 746px;
    top: 69px;
  }

  .esfera::before{
    width: 208px;
    height: 208px;
    left: -832px;
    top: 508px;
  }

  .imgbox img{
    width: 275px;
    height: 460px
  }
  .imgbox{
    margin-top: 118px;
    margin-left: 145px;
  }

  .cols0{
    margin-left: -113px;
    margin-top: -900px;
  }

  h2{
    font-size: 30px;
  }
  .slogan{
    font-size: 20px;
  }

  .best{
    width: 189px;
    height: 44px;
    margin-top: -20px;  
  }

  .you{
    font-size: 10px;
  }

  .multiText{
    font-size: 30px;
  }

  .coming{
    font-size: 20px;
    margin-top: 26px;
    justify-content: flex-end;
    height: 200px;
    width: 300px;
  }

  .apple img{
    width: 175px;
    height: 60px;
    margin-right: -39.5px;
  }

  .playstore img{
    width: 175px;
    height: 60px;
  }
  .btns {
    margin-left: 135px;
    margin-top: 10px;
  }
  .botonext button{
    font-size: 12px;
    width: 100px;
    height: 38px;
  }

  .botonext{
    justify-content: flex-end;
    margin-top: -27px;
  }

  .iconito{
    margin-top: -80px;
    height: 50px;
    margin-left: 258px;
  }

  p{
    font-size: 15px;
    text-align: center;
    width: 415px;
  }

  .parrafo{
    margin-top: 27px;
  }

  .emap{
    margin-top: 111px;
  }

  .encontrar{
    font-size: 30px;
    margin-top: -25px;
  }

  .loader span{
    width: 5%;
    height: 15%;
  }

  .loader::after{
    width: 50px;
    height: 50px
  }
}

@media screen and (min-width: 1280px) and
(max-width:1336px) {
  h1{
    font-size: 30px;
  }

  .logo img{
    height: 45px;
    width: 45px;
  }

  .botoncito button{
    font-size: 15px;
    height: 40px;
    width: 100px;
  }

  nav{
    margin-top: 15px;
  }

  .contenido::before{
    height: 900px;
    width: 900px;
    top: 75px;
    left: 512px;

    }

  .contenido::after{
    height: 900px;
    width: 900px;
    left: -189px;
    top: 75px;
  }
  .esfera{
    width: 122px;
    height: 122px;
    left: 746px;
    top: 69px;
  }

  .esfera::before{
    width: 208px;
    height: 208px;
    left: -832px;
    top: 508px;
  }

  .imgbox img{
    width: 398px;
    height: 647px;
  }

  .imgbox{
    margin-top: 172px;
    margin-left: 251px;
  }

  .cols0{
     margin-left: -22px;
    margin-top: -661px;
  }

  h2{
    font-size: 30px;
  }
  .slogan{
    font-size: 25px;
  }

  .best{
    width: 189px;
    height: 44px;
    margin-left: 40px;
    margin-top: -20px;  
  }

  .you{
    font-size: 20px;
  }

  .multiText{
    font-size: 30px;
  }

  .coming{
    font-size: 30px;
    margin-top: 26px;
    justify-content: flex-end;
    margin-left: 40px;
    height: 282px;
    width: 360px;
  }

  .apple img{
    width: 175px;
    height: 60px;
    margin-right: -39.5px;
  }

  .playstore img{
    width: 175px;
    height: 60px;
  }
  .btns {
    margin-left: 135px;
    margin-top: 10px;
  }
  .botonext button{
    font-size: 12px;
    width: 100px;
    height: 38px;
  }

  .botonext{
    justify-content: flex-end;
    margin-top: 5px;
    margin-right: -36px;
  }

  .iconito{
    margin-top: -80px;
    height: 50px;
    margin-left: 258px;
  }

  p{
    font-size: 20px;
    text-align: center;
    width: 458px;
  }

  .parrafo{
    margin-top: 27px;
    margin-left: 50px;
  }

  .emap{
    margin-left: 445px;
    margin-top: 111px;
  }

  .encontrar{
    font-size: 30px;
    margin-top: -25px;
    margin-right: 11px;
  }

  .loader span{
    width: 5%;
    height: 15%;
  }

  .loader::after{
    width: 50px;
    height: 50px
  }
}

@media screen and (min-width: 1337px) and 
(max-width:1500px){
  h1{
    font-size: 35px;
  }

  .logo img{
    height: 50px;
    width: 50px;
  }

  .botoncito button{
    font-size: 18px;
    height: 40px;
    width: 125px;
  }

  nav{
    margin-top: 15px;
  }

  .contenido::before{
    height: 998px;
    width: 1245px;
    top: 75px;
    left: 345px;

  }

  .contenido::after{
    height: 900px;
    width: 900px;
    left: -189px;
    top: 75px;
  }
  .esfera{
    width: 122px;
    height: 122px;
    left: 746px;
    top: 69px;
  }

  .esfera::before{
    width: 208px;
    height: 208px;
    left: -832px;
    top: 508px;
  }

  .imgbox img{
    width: 313px;
    height: 514px;
  }

  .imgbox{
    margin-top: 159px;
    margin-left: 360px;
  }


  .cols0{
    margin-left: -83px;
    margin-top: -751px;
  }

  h2{
    font-size: 30px;
  }
  .slogan{
    font-size: 25px;
  }

  .best{
    width: 189px;
    height: 44px;
    margin-left: 40px;
    margin-top: -20px;  
  }

  .you{
    font-size: 15px;
  }

  .multiText{
    font-size: 30px;
  }

  .coming{
    font-size: 15px;
    margin-top: 26px;
    justify-content: flex-end;
    margin-left: 40px;
    height: 244px;
    width: 293px;
  }

  .apple img{
    width: 175px;
    height: 60px;
    margin-right: -39.5px;
  }

  .playstore img{
    width: 175px;
    height: 60px;
  }
  .btns {
    margin-left: 135px;
    margin-top: 10px;
  }
  .botonext button{
    font-size: 12px;
    width: 100px;
    height: 38px;
  }

  .botonext{
    justify-content: flex-end;
    margin-top: -44px;
    margin-right: -36px;
  }

  .iconito{
    margin-top: -80px;
    height: 50px;
    margin-left: 258px;
  }

  p{
    font-size: 15px;
    text-align: center;
    width: 440px;
  }

  .parrafo{
    margin-top: 27px;
    margin-left: 50px;
  }

  .emap{
    margin-left: 445px;
    margin-top: 111px;
  }

  .encontrar{
    font-size: 30px;
    margin-top: -25px;
    margin-right: 11px;
  }

  .loader span{
    width: 5%;
    height: 15%;
  }

  .loader::after{
    width: 50px;
    height: 50px
  }
}

@media screen and (min-width: 1501px) and 
(max-width:1800px){
  h1{
    font-size: 30px;
  }

  .logo img{
    height: 45px;
    width: 45px;
  }

  .botoncito button{
    font-size: 15px;
    height: 40px;
    width: 100px;
  }

  nav{
    margin-top: 15px;
  }

  .contenido::before{
    height: 900px;
    width: 900px;
    top: 75px;
    left: 512px;

    }

  .contenido::after{
    height: 900px;
    width: 900px;
    left: -189px;
    top: 75px;
  }
  .esfera{
    width: 122px;
    height: 122px;
    left: 746px;
    top: 69px;
  }

  .esfera::before{
    width: 208px;
    height: 208px;
    left: -832px;
    top: 508px;
  }

  .imgbox img{
    width: 398px;
    height: 647px;
  }

  .imgbox{
    margin-top: 172px;
    margin-left: 251px;
  }

  .cols0{
     margin-left: -22px;
    margin-top: -661px;
  }

  h2{
    font-size: 30px;
  }
  .slogan{
    font-size: 25px;
  }

  .best{
    width: 189px;
    height: 44px;
    margin-left: 40px;
    margin-top: -20px;  
  }

  .you{
    font-size: 20px;
  }

  .multiText{
    font-size: 30px;
  }

  .coming{
    font-size: 30px;
    margin-top: 26px;
    justify-content: flex-end;
    margin-left: 40px;
    height: 282px;
    width: 360px;
  }

  .apple img{
    width: 175px;
    height: 60px;
    margin-right: -39.5px;
  }

  .playstore img{
    width: 175px;
    height: 60px;
  }
  .btns {
    margin-left: 135px;
    margin-top: 10px;
  }
  .botonext button{
    font-size: 12px;
    width: 100px;
    height: 38px;
  }

  .botonext{
    justify-content: flex-end;
    margin-top: 5px;
    margin-right: -36px;
  }

  .iconito{
    margin-top: -80px;
    height: 50px;
    margin-left: 258px;
  }

  p{
    font-size: 20px;
    text-align: center;
    width: 458px;
  }

  .parrafo{
    margin-top: 27px;
    margin-left: 50px;
  }

  .emap{
    margin-left: 445px;
    margin-top: 111px;
  }

  .encontrar{
    font-size: 30px;
    margin-top: -25px;
    margin-right: 11px;
  }

  .loader span{
    width: 5%;
    height: 15%;
  }

  .loader::after{
    width: 50px;
    height: 50px
  }
}



  












  


