@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}
body{
    overflow: overflow;
}
.main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.equipo{
  display: flex;
  justify-content: center;
  margin-top: 150px;
  font-size: 50px;
}
.profile-card{
  position: relative;
  width: 322px;
  height: 322px;
  background: #00ffa2;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
  margin: 0 25px;
  margin-top: 110px;
}

.profile-card-1{
  position: relative;
  width: 322px;
  height: 322px;
  background: linear-gradient(113deg, 
  #59ff00 0.00%, 
  #0df287 100.00%);
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
  margin: 0 25px;
  margin-top: 110px;
}

.profile-card-2{
  position: relative;
  width: 322px;
  height: 322px;
  background: linear-gradient(174deg, 
  #77fe6e 0.00%, 
  #35efca 100.00%);
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
  margin: 0 25px;
  margin-top: 110px;
}

.profile-card-3{
  position: relative;
  width: 322px;
  height: 322px;
  background: linear-gradient(180deg, 
  #e0f04b 0.00%, 
  #3ef5b2 100.00%);
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
  margin: 0 25px;
  margin-top: 110px;
}

.profile-card-4{
  position: relative;
  width: 322px;
  height: 322px;
  background: linear-gradient(180deg, 
  #1fc9ea 0.00%, 
  #00ffa2 100.00%);
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
  margin: 0 25px;
  margin-top: 110px;
}
.profile-card-1:hover, .profile-card-2:hover ,.profile-card-3:hover, .profile-card-4:hover{
  border-radius: 10px;
  height: 422px;
}
.profile-card-1 .img,.profile-card-2 .img,.profile-card-3 .img,.profile-card-4 .img{
  position: relative;
  width: 100%;
  height: 100%;
  transition: .6s;
  z-index: 99;
}
.profile-card-1:hover .img,.profile-card-2:hover .img,.profile-card-3:hover .img,.profile-card-4:hover .img{
  transform: translateY(-60px);
}
.img img{
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
}
.profile-card-1:hover img,.profile-card-2:hover img,.profile-card-3:hover img,.profile-card-4:hover img,.profile-card-5:hover img{
  border-radius: 10px;
}
.caption{
  text-align: center;
  transform: translateY(-120px);
  opacity: 0;
  transition: .6s;
}
.profile-card-1:hover .caption,.profile-card-2:hover .caption,.profile-card-3:hover .caption,.profile-card-4:hover .caption{
  opacity: 1;
}
.caption h3{
  font-size: 21px;
}
.caption p{
  font-size: 18px;
  color: #ffffff;
  margin: 2px 0 9px 0;
  font-weight: bold;
}
.caption .social-links a{
  color: #333;
  margin-right: 8px;
  font-size: 21px;
  transition: .6s;
}
.social-links a:hover{
  color: #0c52a1;
}
.container{
    width: 100%;
    min-height: 100vh ;
    background-color: white;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
    background-color: white;
    margin-top: 44px;
}

.botoncito button {
  width: 169px;
  height: 55px;
  outline: none;
  border-radius: 21px;
  cursor:pointer;
  font-size: 25px;
  font-weight: bold;
  line-height: 25px;
  color: white;
  background: linear-gradient(113deg, 
  #7affc1 0.00%, 
  #0df287 100.00%);
  border: transparent;
  padding: 8px 14px;
  filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.16 ));
}

.Titulo{
  padding-left: 300px;
  padding-right: 196px;
}

.iconito{
  display: flex;
  justify-content: center;
  height: 89px;
  margin-top: -300px;
}



h1{
  font-size: 50px;
  width: 145px;
  height: 48px;
}

.logo{
    width: 59px;
    height: 59px;
    margin-top: -6;
    border: transparent;
}



footer{
  width:100% ;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 5;
  border-top: 3px solid #00404B;
}

.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin-left: 208px;
}

.social-icon{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #00ffa2;
  background-image: url(/assets/IGicon.png);
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  margin: 1rem;
}

.social-icon:nth-of-type(2){
  background-image: url(/assets/Facebookicon.png);
}

.social-icon:nth-of-type(2){
  background-image: url(/assets/Icon\ simple-tik.png);
}

.info{
  width: 216px;
  height: 31px;
  margin-left: -1440px;

  font-family: "open sans";
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  font-style: normal;
  text-align: left;
  color: #4a4a83;
}

.copyright{
  width: 600px;
  height: 31px;
  margin-left: 250px;

  font-family: "open sans";
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  font-style: normal;
  text-align: left;
  color: #4a4a83;
}
@keyframes animateUser{
    50%{
      right: 30px;
      top: -90px;
    }
  }

.imgbox #splash{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-35deg);
  width: 160%;
  filter: saturate(200%);
  animation: animate 4s linear infinite;
}

@keyframes animate{
  50%{
    right: 49%;
    top: 51%;
    width: 155%;
  }
}

/* RESPONSIVE */
@media(max-width:1686px){
  .contenido{
    overflow: auto;
  }
}
  












  


